body
{
	font-family: "Bitstream Vera Sans", sans-serif;
	font-size: 80%;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	background-image: url(../images/hatter.png);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
}

div#container
{
	border: 1px solid #d8d8d8;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	width: 320px;
	padding: 0 0 12px;
	position: absolute;
	left: 50%;
	margin-top: 180px;
	margin-left: -175px;
	background-color: #FFFFFF;
}

div#container th
{
	color: #afafaf;
	font-weight: normal;
}

div#container
{
	background: #eaeaea;
	color: #545454;
}

div#container
{
	background: #F9F9F9; /* old browsers */
	background: -moz-linear-gradient(top, #F9F9F9 0%, #EFEFEF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#EFEFEF)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#EFEFEF',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, #F9F9F9 0%, #EFEFEF 100%);
	border-bottom: 1px solid #e1e1e1;
}

div#container
{
	background: #f0f0f0;
	color: #545454;
	border: 1px solid #d8d8d8;
}

a
{
	color: black;
}

div.centered table
{
	margin: 0 auto; 
	text-align: left;
}

div.centered
{
	text-align: center;
}

.errormsg
{
	margin: 8px 0 10px;
	display: block;
	color: #DD4B39;
	line-height: 17px;
}

#login-center
{
	margin-top: 26px;
	margin-left: 40px;
}

#login-text
{
	height: 38px;
	font-size: 18px;
}

input[type=submit]
{
	display: inline-block;
	height: 34px;
	padding: 0;
	position: relative;
	top: 1px;
	font-family: helvetica,arial,freesans,clean,sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #333;
	text-shadow: 1px 1px 0 #fff;
	white-space: nowrap;
	border: none;
	overflow: visible;
	background: white;
	background: -moz-linear-gradient(white,#e1e1e1);
	background: -webkit-linear-gradient(white,#e1e1e1);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='white',endColorstr='#e1e1e1')";
	border-bottom: 1px solid #ebebeb;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	cursor: pointer;
	margin-left: 1px;
	padding: 0 13px;
	-webkit-font-smoothing:subpixel-antialiased!important;
}

input[type=submit]:hover
{
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	border-bottom-color: #0770a0;
	background: #0ca6dd;
	background: -moz-linear-gradient(#0ca6dd,#0770a0);
	background: -webkit-linear-gradient(#0ca6dd,#0770a0);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ca6dd',endColorstr='#0770a0')";
}

input[type=password],
input[type=text]
{
	display: inline-block;
	height: 32px;
	width: 240px;
	margin: 0;
	padding: 0 8px;
	font-size: 16px;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

input[type=password]:hover,
input[type=text]:hover
{
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

input[type=password]:focus,
input[type=text]:focus
{
	outline: none;
	border: 1px solid #4d90fe;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

input[type=password][disabled=disabled],
input[type=text][disabled=disabled]
{
	border: 1px solid #e5e5e5;
	background: #f5f5f5;
}

input[type=password][disabled=disabled]:hover,
input[type=text][disabled=disabled]:hover
{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input[type=password][readonly=readonly],
input[type=text][readonly=readonly]
{
	border: 1px solid #d9d9d9;
}

input[type=password][readonly=readonly]:focus,
input[type=text][readonly=readonly]:focus
{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

	input[type=password].form-error,
	input[type=text].form-error
{
	border: 1px solid #dd4b39;
}

#linkresz
{
	background: url(../images/link.png) no-repeat;
	background-position: top center;
	height: 42px;
}

div#kozep
{
	border: 1px solid #000000;
	width: 960px;
	background-color: #FFFFFF;
}

#kozep-a1
{
	background: url(../images/kozep-a-alja.png) no-repeat;
	background-position: top center;
	height: 20px;
}

#header
{
	background-image: url(../images/top.gif);
	background-repeat: repeat-x;
	background-color: black;
	border-bottom: 2px solid white;
	margin-bottom: 60px;
	height: 140px;
}

.wrapper
{
	width: 970px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper h1
{
	margin: 0;
	padding: 0;
	font-size: 220%;
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
}

.navbar
{
	text-align: right;
	padding: 0;
	margin: 0;
	color: white;
	padding-top: 20px;
}

ul.sf-menu
{
	background: url(../images/link.png) no-repeat top left;
	height: 42px;
	width: 960px;
}

h2
{
	font-weight: normal;
	font-size: 26px;
	line-height: 26px;
}

footer
{
	height: auto;
	position: relative;
	background: url(../images/footer-bg.jpg) repeat-x left top;
	color: #777;
	font-size: 11px;
	overflow: hidden;
	margin-top: 30px;
}

#bottom-footer
{
	position: relative;
	overflow: hidden;
	padding: 17px 0 12px;
	background: url(../images/bottom-footer-bg.png) repeat-x top left;
	color: #999;
}

#bottom-footer p
{
	margin: 0;
	line-height: 16px;
}

#bottom-footer a
{
	text-decoration: none;
	color: #999;
}

#pagename
{
	background: url(../images/pagename-bg.png) no-repeat left top;
	margin-bottom: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	width: 960px;
	height: 100px;
	color: #cacaca;
	font-size: 12px;
}

#pagename .inside
{
	padding: 1px 20px 30px;
	background: url(../images/kozep-a-alja.png) no-repeat scroll center 100px;
}

#pagename h2
{
	color: #fff;
	margin-bottom: 5px;
}

.content .inside
{
	padding: 20px 5px 5px;
	text-shadow: #1a1a1a 0px -1px 0px;
	text-align: center;
	line-height: 17px;
}

.content .inside span
{
	font-size: 12px;
}

#sidebar-border
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#sidebar-border
{
	position: relative;
	width: 930px;
	background: #f2f2f2;
	border: 1px solid #ccc;
	padding: 15px;
}

.user-vhost.border 
{
	border-left: 2px;
	border-right: 2px;
	border-color: #f2f2f2;
	border-style: ridge;
}
